h1 {
    font-size: 30px;
    text-align: center;
    color: #de7471;
    font-family: 'Lobster', cursive; /* Utilisez la police UnifrakturMaguntia pour le titre */
}

p {
    font-size: 20px;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace; /* Utilisez la police IBM Plex Mono pour les paragraphes */
}

body {
    background-color: #333;
    color: #fff;
}


.data-role {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}


.data-role h3 {
    margin-top: 5px;
}


.data-role img {
    width: 200px;
    border-radius: 50%;
}


